PORT=8080
JWT_SECRET=change_this_in_production
INTERNAL_API_KEY=change_this_in_production
AUTH_SERVICE_URL=http://auth-service:4001
USER_SERVICE_URL=http://user-service:4002
APPOINTMENT_SERVICE_URL=http://appointment-service:4003
NOTIFICATION_SERVICE_URL=http://notification-service:4004
